body {
  background-color: #202020;
  color: #f2f2f2;
}
h1,h2,h3,h4,h5,h6 {
  margin: 5px 0;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 16px;
}
p {
  margin: 0 0 5px 0;
}

header {
  padding: 25px 25px 12px 25px;
  margin-bottom: 25px;
  text-align: center;
}
header span {
  cursor: pointer;
}
header span:hover {
  text-decoration: underline;
}

section {
  display: flex;
  flex-wrap: wrap;
  max-width: 1050px;
  margin: 0 auto;
}
.episode-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 330px;
  margin: 10px 10px 25px 10px;
  background-color: #585858;
  border-radius: 6px;
  padding: 20px;
  box-sizing: border-box;
  cursor: default;
  transition: all .25s;
}
.episode-wrapper:hover {
  background-color: #000000;
}
.episode-datetime {
  font-style: italic;
  font-weight: 300;
  font-size: .9em;
}
.episode-cover {
  margin: 6px 0 12px 0;
  border-radius: 5px;
  width: 100%;
}
.episode-summary {
  font-style: italic;
  font-weight: 300;
  margin: 6px 0 12px 0;
  flex-grow: 1;
  font-size: .9em;
}

.separator {
  display: block;
  width: 100%;
  padding-left: 10px;
}

.episode-actions {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.episode-actions a,
.episode-actions button {
  color: #f0f0f0;
  background-color: #252525;
  padding: 6px 12px;
  text-decoration: none !important;
  border-radius: 5px;
  margin: 0 5px;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  font-size: 1em;
}
.episode-actions .favorite-btn {
  background-color: #f0f0f0;
  color: #252525;
}
.episode-actions .favorite-btn.favorite-true {
  background-color: #a70000;
  color: #f2f2f2;
}

@media screen and (max-width: 1079px) {
  section {
    justify-content: center;
  }
  .separator {
    text-align: center;
  }
}